@import "../../index.scss";
.projects {
  height: auto;
  width: 100%;
  background-image: url(project_background.jpg);
  background-size: cover;
  background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0)),
    url(project_background.jpg);
  //   background-repeat: no-repeat;
  overflow: hidden;

  @include center;
  position: relative;
  // display:flex;
  .header {
    // @include center;
    @include center;
    position: top;
    font-size: 2rem;
    margin-bottom: 100px;
  }
  .grid {
    height: auto;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    @include center;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  // border: 2px solid #ccc;
  border-radius: 5px;
  // background-color: #f9f9f9;
  width: 600px;
  height: auto;
  max-height: 500px;
  margin: 10px;
  .card-header{
    text-align: start;
    // background-color: aqua;
    width: 98%;
  }
  // cursor: pointer;
  // transition: transform 0.2s ease-in-out;
}
.folder:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.folder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  // margin-bottom: 10px;
}

.folder h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.folder p {
  font-size: 1rem;
  color: #666;
  text-align: center;
}
