@import "../../index.scss";
.projects {
  // width: 100%;
  // background-image:
  //   linear-gradient(
  //     rgba(34, 42, 46, 0.9),
  //     rgba(34, 42, 46, 0.6)
  //   ),url("background.png");
  //   background-attachment: fixed;
  // // background-image: url(project_background.jpg);
  // background-size: cover;
  // // background: #2a3239;
  // // background-repeat:round;
  // overflow: hidden;

  @include center;
  pointer-events: none;
  position: relative;
  // text-align: center;
  // display: flex;
  // flex-direction: column;
  .header {
    // @include center;
    @include center;
    width: 100%;
    pointer-events: none;
    color: white;
    position: top;
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }
  .grid {
    pointer-events: none;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include center;
  }
  .grid > * {
    pointer-events: auto; // Re-enable interaction for children (like buttons, cards, etc.)
  }
}
.projects > * {
  pointer-events: auto; // Re-enable interaction for children (like buttons, cards, etc.)
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding:10px;
  // border: 2px solid #ccc;
  border-radius: 5px;
  width: 350px;
  height: 320px;
  max-height: 500px;
  // margin: 10px;
  margin: 1rem;
  cursor: pointer;

  .media {
    min-height: 150px;
    flex: 1;
  }

  .card-header {
    text-align: start;
    // background-color: aqua;
    width: 90%;
    // flex: 1;
  }
  p {
    text-align: start;
  }
  .content {
    // @include center;
    position: top;
    flex: 1;
    width: 90%;
    // height: auto;
    margin-top: -20px;
    // height: 50%;
  }
}
