@use "sass:list";
@import "../../index.scss";

.welcome-section {
    // margin-top: 32px;
    background-color:  #DEB887;
    background-size: cover;
    height: 90vh;
    @include center;
    text-align: left;
    h5 {
        // @include center;
        font-size: 3em;
        white-space: pre-line;
    }
    .description {
        @include center;
        // background-color: #262626;
        width: 50%;
        height: 80vh;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        p {
            // @include center;
            font-size: 1.9em;
            margin-top: -40px;
        }
    }
    .textBox {
        height: 40vh;
        // background-color: #DEA237;
        width: 50%;
    }
}
.personal-photo {
    border-radius: 20px;
    height: 90vh;
    width: 35vh;
    margin-right:3vh;
    @include center;
    #personal-photo {
        // make picture fit div
        width: 100%;
        padding: 5px;
        height: 50%;
        object-fit: cover;
        border-radius: inherit;
    }
}