@use "sass:list";
@import "../../index.scss";

.welcome-section {
  position: relative;
  height: 100vh;
  @include center;
  text-align: left;
  h5 {
    // @include center;
    font-size: 3em;
    white-space: pre-line;
  }
  .description {
    position: relative;
    @include center;
    width: 60%;
    // height: 80vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    
    .textBox {
      // height: 40vh;
      // background-color: #DEA237;
      margin-top: 50px;
      width: 50%;
      color: white;
      p {
        text-align: center;
        // @include center;
        font-size: 2.1em;
        line-height: 30%;
        // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        //   1px 1px 0 #000;
        // margin-top: -40px;
      }
      h1 {
        font-size: 3.5em;
        // line-height: 50%;
        text-align: center;
        // color:rgb(220, 220, 220)
        letter-spacing: 3px;
      }
    }
  }
}

.welcome-section::before {
  content: "";
//   opacity: 0.7;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),url("background.png");
//   background-image: url("background.png");
  position: absolute;
  // background-image:linear-gradient(96deg, rgba(96, 166, 231, 0.5), rgba(172, 115, 68, 0.5));
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-position: 50% 50%;
}
