.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(29, 29, 29, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;

  .logo {
    // font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    gap: 2rem;

    a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.08rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: color 0.3s ease;
      border-radius: 15%;

      &:hover {
        background-color: #323232;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
          0 0 20px rgba(255, 255, 255, 0.2);
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;

    .bar {
      width: 25px;
      height: 3px;
      background-color: white;
      transition: transform 0.3s ease;
    }

    &.open .bar:nth-child(1) {
      transform: rotate(45deg) translateY(8px);
    }

    &.open .bar:nth-child(2) {
      opacity: 0;
    }

    &.open .bar:nth-child(3) {
      transform: rotate(-45deg) translateY(-8px);
    }
  }

  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 100%;
      right: 0;
      flex-direction: column;
      background-color: rgb(29, 29, 29);
      width: 100%;
      align-items: center;
      display: none;

      a {
        padding: 1rem 0;
        width: 100%;
        text-align: center;
      }

      &.open {
        display: flex;
      }
    }

    .hamburger {
      display: flex;
    }
  }
}
