@import "../../index.scss";
.section-header {
    padding: 0;
    z-index: 1000;
    position: -webkit-sticky;
    // margin-bottom: 40px;
}

.toolBar {
    background-color:rgb(29, 29, 29);
    h2 {
        flex-grow:1;
        // font-size:200%;
        width: 30%;
    }
    .item-stack {
        display: flex;
        justify-content: flex-end;
        width:100%;
        // background-color:#006c97;
    }
}


.nav-item {
    font-weight: 500;
    // margin: 0 8px;
    font-size: 1.3rem;
    text-decoration: none;
    color: white!important;
    // // font-family: 'Quicksand', sans-serif;
    // // $desktop_width
    // @media (max-width: 2600) {
    //     margin: 0 5px;
    //     transition: 1s;
    // }
}

