@use "sass:list";
@import "../../index.scss";

:root {
  --main-color: #171212;

  --text-color: white;

  --line-color: #d2d2d2;

  --jpmc-color: rgb(133, 169, 211);

  --gt-color: #fdd634;

  --gtia-color: rgb(229, 180, 64);

  --uh-color: rgb(214, 24, 53);
}

.timeline-section {
  //   position: relative;
  @include center;
  //   min-height: 100vh;
  //   padding: 2rem 0;
  //   display: flex;
  //   flex-direction: column;
  pointer-events: none;
}

.timeline-box {
  @include center;
  display: flex;
  //   width: 90%;
  min-height: 80vh;
  //   margin: 2rem;
  padding: 1rem;
  flex-direction: column;
  color: var(--text-color);
  position: relative;
}

.timeline-box > * {
  pointer-events: auto;
}

.timeline {
  position: relative;
  max-width: 1300px;
  margin: 3rem auto;
  pointer-events: none;
  .container {
    // padding: 10px 50px;
    position: relative;
    width: 50%;
    z-index: 10;
    // OLD ANIMATION //
    // animation: movedown 1s linear forwards;
    // opacity: 0;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform;
    img {
      position: absolute;
      width: 45px;
      border-radius: 50%;
      right: -23px;
      top: 32px;
      z-index: 10;
    }
  }
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes movedown {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-box {
  padding: 20px 30px;
  margin: 10px 50px;
  background: var(--main-color);
  position: relative;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  small {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.company {
  color: #00b994;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.jpmc-card {
  border: 5px solid var(--jpmc-color);
}
.jpmc-text {
  color: var(--jpmc-color);
}
.gt-card {
  border: 5px solid var(--gt-color);
}
.gt-text {
  color: var(--gt-color);
}
.gtia-card {
  border: 5px solid var(--gtia-color);
}
.gtia-text {
  color: var(--gtia-color);
}
.uh-card {
  border: 5px solid var(--uh-color);
}
.uh-text {
  color: var(--uh-color);
}

// MAKE Specific Cards for each thing

.left-container {
  left: 0;
}
.right-container {
  left: 50%;
  img {
    left: -20px;
  }
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 0;
  background: var(--line-color);
  top: 0;
  margin-left: 0px;
  left: 50%;
  z-index: 1;
  animation: moveline 6s linear forwards;
  transform: translateX(-50%);
  transition: height 6s ease-out;
}

.timeline.line-visible::after {
  height: 100%;
}

// @keyframes moveline {
//   0% {
//     height: 0;
//   }
//   100% {
//     height: 100%;
//   }
// }

.left-container-arrow {
  height: 0;
  width: 100px;
  position: absolute;
  top: 45px;
  z-index: -1;
  right: -18px;
}

.right-container-arrow {
  height: 0;
  width: 100px;
  position: absolute;
  top: 45px;
  z-index: -1;
  left: -15px;
}

.jpmc-arrow {
  border: 5px solid var(--jpmc-color);
}

.gt-arrow {
  border: 5px solid var(--gt-color);
}
.gtia-arrow {
  border: 5px solid var(--gtia-color);
}
.uh-arrow {
  border: 5px solid var(--uh-color);
}

/* Responsive Timeline */
@media screen and (max-width: 768px) {
  .timeline {
    margin: 50px auto;
    .container {
      width: 95%;
      padding-left: 30px;
      padding-right: 25px;
    }
  }
  .timeline::after {
    left: 31px;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .right-container img,
  .left-container img {
    left: 10px;
  }

  .right-container-arrow,
  .left-container-arrow {
    left: -15px;
  }
}

/* From Uiverse.io by 4uglos */
.button {
  position: relative;
  width: 50%;
  //   height: 50px;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0cbfe3, #00ab7b, #fc661b);
  padding: 14px 25px;
  border-radius: 16px;
  font-size: 1.25em;
  cursor: pointer;
  border: none;
}

.button span {
  position: relative;
  position: center;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  z-index: 1;
  @media screen and (max-width: $mobile_width) {
    font-size: 1.5rem;
  }
}

.button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272727;
  border-radius: 14px;
  transition: 0.5s;
}

.button:hover::before {
  opacity: 0.7;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0cbfe3, #00ab7b, #fc661b);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.button:hover:after {
  opacity: 1;
}
