@use "sass:list";
@import "../../index.scss";
.about-me {
  position: relative;
  @include center;
  min-height: 100vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;

  .box {
    @include center;
    display: flex;
    width: 50%;
    min-width: 300px;
    min-height: 80vh;
    margin: 2rem;
    padding: 1rem;
    flex-direction: column;
    color: white;
    // transition: all 0.3s ease-in-out;
    border-radius: 2rem;
    will-change: opacity, transform;
    position: relative;

    // add cool hover effect
    // background-color: darkturquoise;
    .header {
      text-align: center;
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: 0.02em;
      margin: 0.5em;
      padding: 0.8rem;
      border-radius: 1rem;
      // box-shadow: 0 0 10px #a5a5af, 0 0 20px #5e9395;
    }
    .bio {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-align: center;
      justify-content: center;
      font-size: 1.3rem;
      margin: 0.4em;
      width: 85%;
    }
    .personal-photo {
      width: 65%;
      border-radius: 50%;
      box-shadow: 0 0 15px #a5a5af, 0 0 30px #48484f;
      @media (max-width: $tablet_width) {
        width: 50vw;
      }
      margin: 2rem;
    }
    .personal-info-top {
      @include center;
      pointer-events: none;
    }
    .personal-info-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }
    .interest-icon {
      width: 7rem;
      height: 7rem;
      // color: #2980b9;
      border-radius: 1rem;
      margin: 1.5rem;
    }
    .interests {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
    .interest-item {
      cursor: pointer;
    }
  }

  // .box:hover {
  //   transform: scale(1.02);
  //   background-color: #1b1b1f;
  //   box-shadow: 0 0 15px #a5a5af, 0 0 30px #48484f;
  // }
}

.header-interests {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  margin: 0.2em;
  margin-top: 5rem;
  padding: 0.8rem;
  border-radius: 1rem;
  color: white;
  // box-shadow: 0 0 10px #348d65, 0 0 20px #5e9395, inset 0 0 10px #348d65;
}
// SKILLS //

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;

  .skills-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-icon {
    height: 2.5rem;
  }
}

// END SKILLS //

// POPUP MODAL
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background-color: #222224;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
  animation: fadeIn 0.3s ease;
  text-align: center;

  h2 {
    margin-top: 0;
    font-size: 1.7rem;
    letter-spacing: 0.05rem;
    color: #ffffff;
  }

  .modal-img {
    width: 50%;
    height: auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
  }

  p {
    margin-top: 1rem;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
  }

  .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #999;

    &:hover {
      color: #000;
    }
  }
}

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: scale(0.97);
//   }
//   to {
//     opacity: 1;
//     transform: scale(1);
//   }
// }

.personal-facts-item {
  .personal-facts-head {
    display: flex;
    align-items: center;
  }
  .title {
    font-weight: 600;
    font-size: 2em;
    margin-bottom: -5px;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .body {
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 200%;
  }
}
@media (max-width: $mobile_width) {
  .personal-facts-item {
    .title {
      font-weight: 600;
      font-size: 1.5em;
      margin-bottom: -5px;
      background-clip: text;
      -webkit-background-clip: text;
    }
    .body {
      font-weight: 400;
      font-size: 1rem;
      line-height: 200%;
    }
  }
}

// Helpers
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}
.fade-in.visible {
  opacity: 1;
  transform: none;
}

//Pointer Events for Interactive Background
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}

// Button
/* From Uiverse.io by 4uglos */
.button {
  position: relative;
  width: 50%;
  //   height: 50px;
  text-decoration: none;
  margin: 2rem;
  color: #fff;
  background: linear-gradient(45deg, #0cbfe3, #00ab7b, #fc661b);
  padding: 14px 25px;
  border-radius: 16px;
  font-size: 1.25em;
  cursor: pointer;
  border: none;
}

.button span {
  position: relative;
  position: center;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  z-index: 1;
  @media screen and (max-width: $mobile_width) {
    font-size: 1.5rem;
  }
}

.button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272727;
  border-radius: 14px;
  transition: 0.5s;
}

.button:hover::before {
  opacity: 0.7;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0cbfe3, #00ab7b, #fc661b);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.button:hover:after {
  opacity: 1;
}
