@use "sass:list";
@import "../../index.scss";
.about-me {
  position: relative;
  @include center;
  height: 100%;
  width: 100%;
  .personal-facts {
    @include center;
    // width: 1200px;
    width: 85%;

    padding: 10px;
    .header {
      text-align: center;
      width: 75%;
      font-size: 2em;
      line-height: 50%;
    }
    .bio {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-align: center;
      width: 75%;
    }
    .personal-photo {
      border-radius: 50%;
      height: 53vh;
      width: 35vh;
      margin-right: 20vh;
      margin-left: 20vh;
      @include center;
      #personal-photo {

        width: 150%;
        padding: 5px;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }
    .hstack {
      // background-color: azure;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      padding: 10px;
      @include center;
      .col {
        width: 45%;
        min-width: 300px;
        padding: 10px;
      }
    }
  }
}
.personal-facts-item {
  .personal-facts-head {
    display: flex;
    align-items: center;
  }
  .title {
    font-weight: 600;
    font-size: 2em;
    margin-bottom: -5px;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .body {
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 200%;
  }
}
@media (max-width: $mobile_width) {
  .personal-facts-item {
    .title {
      font-weight: 600;
      font-size: 1.5em;
      margin-bottom: -5px;
      background-clip: text;
      -webkit-background-clip: text;
    }
    .body {
      font-weight: 400;
      font-size: 1.0rem;
      line-height: 200%;
    }
  }
}
